body{
   background-color: black;
   color: white; 
   display: flex;
   flex-direction: column;

}
.rps{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
}
.results{
    display: flex;
    justify-content: center;
    margin: 100px;
}
.vs{
    display: flex;
    justify-content: space-around;
}
.playerLabel,
.computerLabel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#final{
    display: flex;
    justify-content: center;
    margin: 100px;
}
button{
    background-color: rgba(4, 0, 255, 0.877);
    

}
h1{
    display: flex;
    justify-content: center;
}
.items{
    border-style: solid;
    border-color: brown;
    border-radius: 50px;
}
